@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/normalize.scss/normalize.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic');


@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: #d7d5cb;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 2000px;
}
.main_block {
    @include flex_center;
    margin: 0 auto;
    max-width: 1024px;
}
@import "header.scss";
@import "partfolio.scss";


