header.container
    nav
        img.logo(src="images/logo.png")
        div.navi_wrap
            ul.navi
                li ПОРТФОЛИО
                li О СЕБЕ
                li БЛОГ
                li КОНТАКТЫ
                li ENGLISH
            

