section.partfolio
    h2 Портфолио веб-разработчика
    .myWorks
        .myWorks_imgArea
            div
                img(src="/images/portfolio/logo-turbochist.jpg")       
            .myWorks_imgArea_picture
                img(src="/images/portfolio/logo-bosplus.jpg")
            .skrepka
                img(src="/images/portfolio/skrepka.png", alt="skrepka")
            div
                img(src="/images/portfolio/logo-turbochist.jpg")
        .myWorks_textArea
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex magni necessitatibus, quasi temporibus.
        .myWorks_navi
            img(src="/images/portfolio/angle-double-left-solid.svg")
            p другой проєкт
            img(src="/images/portfolio/angle-double-right-solid.svg")