section.partfolio
    h2 Портфолио веб-разработчика
    div.myWorks
        div.myWorks_imgArea
            div
                img(src="/images/portfolio/logo-turbochist.jpg")
                
            div.myWorks_imgArea_picture
                img(src="/images/portfolio/logo-bosplus.jpg")
            div.skrepka
                img(src="/images/portfolio/skrepka.png", alt="skrepka")
            div
                img(src="/images/portfolio/logo-turbochist.jpg")
        div.myWorks_textArea
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex magni necessitatibus, quasi temporibus.