section.partfolio
    h2 Портфолио веб-разработчика
    .myWorks
        img(src="/images/portfolio/angle-double-left-solid.svg")
        .myWorks_imgArea
            .deg7 
                img(src="/images/portfolio/logo-turbochist.jpg")       
            .myWorks_imgArea_picture.deg-3
                img(src="/images/portfolio/logo-bosplus.jpg")
            .skrepka.deg7
                .skrepka_bg.skrepka_bg_green
                img(src="/images/portfolio/skrepka.png", alt="skrepka")
            .deg2
                img(src="/images/portfolio/logo-turbochist.jpg")
        .myWorks_imgArea
            .deg2
                img(src="/images/portfolio/logo-bosplus.jpg")       
            .myWorks_imgArea_picture.deg4
                img(src="/images/portfolio/logo-turbochist.jpg")
            .skrepka.deg2
                .skrepka_bg.skrepka_bg_orange
                img(src="/images/portfolio/skrepka.png", alt="skrepka")
            .deg-3
                img(src="/images/portfolio/logo-bosplus.jpg")
        img(src="/images/portfolio/angle-double-right-solid.svg")

